@charset "utf-8";
/*------------------------------------------------------------------
[Main Theme Styles]

Project:  Aquarella Lite
Author: Themebear.co
Version:  1.0.3
Last change:  09/02/2017
Primary use:  Blogs

/*------------------------------------------------------------------
[Table of contents]

00. Imports
01. General
02. Typography
03. Buttons
04. Forms
05. Header
06. Footer
07. Page Loader
08. Pages: General
09. Section: Blog
10. Section: Blog - Single
11. SECTION: Pagination 
12. Section: Sidebar
13. Section: Map
14. Modals
15. Owl Carousel
16. Section: Elements - General
17. Section: Home Elements
18. Section: About Elements
19. Section: Portfolio Elements
20. Portfolio - Single
21. Section: Contact Elements
22. CROSSBROWSER SOLUTIONS
23. Section: Home Elements
24. Section: Home Elements

-------------------------------------------------------------------*/
/* ==========================================================
! >> 00. IMPORTS - MIXINS / VARIABLES (LESS)
==============	=========================================== */

/*--------------------------------------------------------------
>>> _S BASE STYLES - TABLE OF CONTENTS
----------------------------------------------------------------
            # Normalize
            # Typography
            # Elements
            # Forms
            # Navigation
              ## Links
              ## Menus
            # Accessibility
            # Alignments
            # Clearings
            # Widgets
            # Content
              ## Posts and pages
              ## Asides
              ## Comments
            # Infinite scroll
            # Media
              ## Captions
              ## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}
p {
  margin-bottom: 1.5em;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
blockquote {
  margin: 0 1.5em;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}
body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
ul,
ol {
  margin: 0 0 1.5em 3em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}
select {
  border: 1px solid #ccc;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  padding: 3px;
}
textarea {
  padding-left: 3px;
  width: 100%;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue;
}
a:visited {
  color: purple;
}
a:hover,
a:focus,
a:active {
  color: midnightblue;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.main-navigation li {
  float: left;
  position: relative;
}
.main-navigation a {
  display: block;
  text-decoration: none;
}
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
}
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
.main-navigation ul ul a {
  width: 200px;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}
@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
}
/* Make sure select elements fit in widgets. */
.widget select {
  max-width: 100%;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}
.hentry {
  margin: 0 0 1.5em;
}
.byline,
.updated:not(.published) {
  display: none;
}
.single .byline,
.group-blog .byline {
  display: inline;
}
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
.wp-caption-text {
  text-align: center;
}
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-caption {
  display: block;
}
.color1 {
  color: #f72565;
}
.color2 {
  color: #ffcf38;
}
.color3 {
  color: #f8be27;
}
.font1 {
  font-family: 'Merriweather Sans', sans-serif;
}
.font2 {
  font-family: 'Roboto', sans-serif;
}
.bold {
  font-weight: bold;
}
.bg-cover,
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.box-shadow {
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.3);
}
.responsive-image {
  width: 100%;
}
.section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.mtop0 {
  margin-top: 0;
}
.mtop20 {
  margin-top: 20px;
}
.mtop40 {
  margin-top: 40px;
}
/* ==========================================================
! >> 01. General
========================================================== */
html {
  background-color: transparent;
}
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  background-attachment: fixed;
  width: 100%;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
a {
  color: #f72565;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #f8be27;
}
ul {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
ul li {
  margin-left: 0;
  list-style: inside;
}
ol {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style-position: inside;
}
ol li {
  margin-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather Sans', sans-serif;
}
h1 {
  font-weight: bold;
}
h2 {
  font-weight: bold;
  font-size: 24px;
}
h3,
h4 {
  font-weight: bold;
}
blockquote {
  font-style: italic;
}
cite {
  font-weight: bold;
  display: block;
  margin-top: 8px;
  font-size: 13px;
}
q {
  font-style: italic;
}
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.col-no-padding {
  padding: 0 !important;
}
.body-boxed {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #fafafa;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bdw-wrapper {
  text-align: center;
  margin-bottom: 40px;
}
.bdw-wrapper:before {
  content: '';
  display: block;
  height: 3px;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #f72565;
  opacity: 0.8;
}
.bdw-wrapper:after {
  content: '';
  display: block;
  height: 4px;
  width: 80px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #f72565;
  opacity: 0.8;
}
.bdw-wrapper-negative:before,
.bdw-wrapper-negative:after {
  background-color: #ffffff;
}
/* ==========================================================
! >> 02. Typography
========================================================== */
.titleM {
  font-family: 'Merriweather Sans', sans-serif;
}
.titleM:first-child {
  margin-top: 0;
}
.title1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 20px;
}
.title1:first-child {
  margin-top: 0;
}
.title2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.title2:first-child {
  margin-top: 0;
}
.title3 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.title3:first-child {
  margin-top: 0;
}
.title4 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 7px;
}
.title4:first-child {
  margin-top: 0;
}
.title4:first-child {
  margin-top: 0!important;
}
.title5 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
}
.title5:first-child {
  margin-top: 0;
}
.title-of-section {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f72565;
}
.title-of-section:first-child {
  margin-top: 0;
}
.title-border:after {
  content: '';
  display: block;
  background-color: #f72565;
  height: 2px;
  width: 60px;
  margin-top: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.title-of-section.title-border:after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
p {
  font-size: 13px;
  line-height: 1.7;
  margin-bottom: 18px;
  opacity: 0.9;
}
.text-lg {
  font-size: 22px;
}
.page-title {
  margin-top: 0!important;
}
/* ==========================================================
! >> 03. Buttons
========================================================== */
.btn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f72565;
  margin-bottom: 8px;
}
.btn-default {
  border: 0;
  background-color: #f72565;
  color: #ffffff;
  padding: 15px 30px;
}
.btn-primary {
  background-color: #3276b1;
}
.btn-success {
  background-color: #4cae4c;
}
.btn-info {
  background-color: #4cae4c;
}
.btn-warning {
  background-color: #eea236;
}
.btn-danger {
  background-color: #d43f3a;
}
.btn-special {
  background: #f72565;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1;
  color: #ffffff;
  font-weight: bold;
}
.btn-special:hover {
  color: #ffffff;
}
.btn-stroke {
  background: transparent;
  border: 2px solid;
  border-color: #f72565;
  color: #f72565;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}
.btn-stroke:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f8be27 !important;
  z-index: -1;
}
.btn-stroke:hover {
  border-color: #f8be27 !important;
  background-color: transparent!important;
  color: #ffffff !important;
}
.btn-stroke:hover:before {
  width: 100%;
}
.btn-stroke-negative {
  color: #ffffff !important;
  border-color: #ffffff !important;
}
/* ==========================================================
! >> 04. Forms and Inputs
========================================================== */
.form-control {
  width: 100%!important;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  height: 50px;
  font-size: 14px;
  color: #111;
  margin-bottom: 5px;
  font-family: 'Merriweather Sans', sans-serif;
}
textarea.form-control {
  min-height: 100px;
}
textarea.textarea2 {
  height: 115px!important;
}
.btn-form {
  width: 100%;
  height: 50px;
}
button,
input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
/* ==========================================================
! 05. Header
========================================================== */
#masthead {
  color: #ffffff;
  border: 0;
}
#masthead a {
  color: #ffffff;
}
#masthead .container {
  position: relative;
}
#masthead .navbar {
  margin-bottom: 0;
}
#masthead .search-field {
  border: 0 !important;
  font-weight: lighter;
  font-size: 12px;
}
#masthead .search-form {
  display: none;
  margin-top: 5px;
}
@media (min-width: 768px) {
  #masthead .search-form {
    display: block;
    text-align: right;
  }
  #masthead .search-form .search-field {
    box-sizing: border-box !important;
    width: 90%!important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #masthead .search-form .search-field:focus {
    width: 100%!important;
    box-sizing: border-box !important;
    outline: 0!important;
  }
}
.navbar-toggle {
  color: #ffffff;
  border-color: #ffffff;
  font-size: 22px;
  background-color: transparent !important;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
}
.navbar-brand {
  width: auto;
  height: auto;
  width: 100%;
  text-align: center;
  padding-top: 5px;
}
@media (min-width: 768px) {
  .navbar-brand {
    width: auto;
  }  
}
@media (min-width: 768px) {
  .navbar-brand img {
    width: 100%;
    max-height: 82px!important;
  }
}
.site-title {
  margin-top: 0;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: left!important;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0px;
  line-height: 1 !important;
}
.site-title a:hover {
  text-decoration: none;
}
.site-description {
  font-size: 11px;
  font-style: italic;
  opacity: 0.6;
  margin-bottom: 0;
  text-align: left!important;
}
.navbar-nav {
  font-family: 'Merriweather Sans', sans-serif;
}
.navbar {
  padding-top: 0;
  padding-bottom: 0px;
  border: 0;
}
.navbar li {
  position: relative;
  display: block;
}
.navbar li a {
  white-space: nowrap;
  font-size: 13px;
}
.navbar > li > ul {
  list-style: none;
  border: 0!important;
  
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .navbar li > ul .dropdown-menu {
    display: block;
  }
  .navbar li > ul .dropdown-menu li a{
    padding-left: 35px!important;
    font-style: italic;
  }
  .navbar-nav .open .dropdown-menu {
     margin: 0;
     padding: 0;
  }
}

@media (min-width:992px) {
  .navbar > li > ul {
    margin-top: 6px!important;
    margin-left: 10px!important;
    border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
  }
}
.navbar li > ul > li {
  padding: 0;
}
.navbar > li > ul > li a {
  padding: 5px;
  padding-left: 8px;
  display: block;
}
@media (min-width: 768px) {
  .navbar li:hover > ul {
    visibility: visible;
    opacity: 1;
  }
  .navbar li > ul {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    padding: 0;
    display: block; 
    list-style: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .navbar li > ul li ul {
    display: block;
    margin: 0;
    border-radius: 0;
    font-size: 10px;
    font-style: italic;
    left: 99%;
    top: -1px;
  }
  .navbar li > ul li ul a {
    font-size: 10px;
    line-height: 18px;
  }
  .navbar li > ul li.menu-item-has-children > a:after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 12px;
    background: url(../img/menu-right.png) no-repeat center center transparent;
    vertical-align: middle;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -6px;
    opacity: 0.8;
  }
  .navbar li > ul > li {
    padding: 0;
    display: block;
  }
  .navbar li > ul > li a {
    display: block;
    padding: 10px;
    white-space: nowrap;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #ffffff;
  }
  .navbar li > ul > li a:hover,
  .navbar li > ul > li a:focus,
  .navbar li > ul > li a:active {
    text-decoration: none;
  }
}
@media (min-width: 768px) {
  .navbar .nav > li {
    margin-right: 4px;
  }
}
.navbar .nav > li > a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  z-index: 2;
  overflow: hidden;
  font-weight: bold;
  font-size: 11px;
  background: #f8be27;
}

.navbar-collapse.in {
  overflow: hidden;
  max-height: none !important;
  height: auto !important;
}

span.icon-bar {
  color: #fff;
  background: #fff;
}

@media (max-width: 768px) {
  .navbar .nav > li > a {
    border-radius: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
  }
}

.dropdown-mega {
  position: static!important;
}
@media (min-width:992px) {
  .dropdown-mega > ul {
    left: auto!important;
    right: 0;
    max-width: 1000px;
  }
}
.dropdown-mega-content {
  white-space: nowrap;
  padding: 20px!important;
  min-width: 100%;
  color: #ffffff;
  background-color: #f72565;
  padding: 0;
  display: block;
}
.dropdown-mega-content ul.dropdown-mega-sub-nav {
  padding: 0;
  margin: 0;
}
.dropdown-mega-content ul.dropdown-mega-sub-nav li {
  list-style: none;
  margin: 0;
}
.dropdown-mega-content ul.dropdown-mega-sub-nav li a {
  background: url('../img/aside-arrow.png') no-repeat 5px 16px;
  padding-left: 20px;
}
.dropdown-mega-content ul.dropdown-mega-sub-nav li a:hover {
  background: url('../img/aside-arrow.png') no-repeat 5px 16px;
  background-color: #f72565;
}
.dropdown-mega-sub-title {
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}
.navbar-top {
  background-color: #f72565;
  position: relative;
  z-index: 9;
}
@media (min-width:992px) {
  .navbar-top {
    height: 115px;
    padding-top: 10px;
  }
}
.navbar-top .container {
  padding-top: 15px;
  padding-bottom: 10px;
}
.navbar-bottom {
  background-color: #ffcf38;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}
.search-wrapper {
  display: none;
}
@media (min-width:992px) {
  .search-wrapper {
    display: block;
    float: right;
    width: 25%;
    padding-top: 5px;
  }
}
/* ==========================================================
! 06. Footer
========================================================== */
#colophon {
  color: #ffffff;
  background-color: #444444;
  background-repeat: repeat;
}
#colophon a {
  color: #ffffff;
}
#colophon .footer-top {
  padding-top: 45px;
  padding-bottom: 25px;
}
#colophon .footer-bottom {
  background: #111;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
}
#colophon .site-quote {
  margin-bottom: 0;
}
#colophon .site-quote p {
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.7;
}
#colophon .site-quote p small {
  font-style: italic;
}
.tagcloud a {
  display: inline-block;
  padding: 6px 12px;
  background-color: #f72565;
  color: #ffffff !important;
  margin-bottom: 3px;
  font-style: italic;
  font-weight: normal;
}
.tagcloud a:hover {
  text-decoration: none;
  background-color: #f8be27;
  color: #ffffff !important;
}
.tags-links {
  font-weight: bold;
  font-size: 12px;
}
.tags-links a {
  color: #f72565;
  font-style: italic;
  font-size: 12px;
}
.secondary-footer {
  background: #111;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
}
.footer-logo {
  opacity: 0.7;
  max-width: 150px;
}
.footer-quote {
  padding-top: 4px;
  margin-bottom: 0;
}
.footer-social-icons .social-icons-list a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #555;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  color: #ffffff !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0;
}
.footer-social-icons .social-icons-list a:hover {
  background-color: #f72565;
  color: #ffffff !important;
}
/* ==========================================================
! 07. Pages: General
========================================================== */
.content-area {
  padding-top: 40px;
  padding-bottom: 40px;
}
.content-element {
  background: #fff;
  -webkit-box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 25px;
  position: relative;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.content-element a {
  word-break: break-word;
}
.section-title {
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #f72565;
  color: #ffffff;
}
.section-mini-hero {
  min-height: 280px;
  background: #eee;
  color: #ffffff;
  position: relative;
  text-align: center;
  padding-top: 100px;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.padding-box {
  padding: 20px;
}
.contrast {
  background-color: #f2f2f2;
}
.contrast-box {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.contrast-with-image {
  color: #ffffff !important;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.social-icons .social-icons-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0!important;
}
.social-icons .social-icons-list li {
  list-style: none!important;
  display: inline-block;
  background: none !important;
  padding: 0 !important;
  border-bottom: 0 !important;
}
.social-icons .social-icons-list li:after {
  content: '';
  display: none !important;
}
.social-icons a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #f72565;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  color: #ffffff !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0!important;
}
.social-icons a:hover {
  background-color: #ffcf38;
}
.page-content-element {
  padding-bottom: 0;
  margin-bottom: 0;
}
.page-header {
  margin: 0;
  padding: 0;
}
.post-element-header {
  background-color: #f8be27 !important;
  color: #ffffff !important;
  padding-top: 20px!important;
}
.post-element-header .page-title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.post-element-header p {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 3px;
}
/* ==========================================================
! 08. Sidebar
========================================================== */
a.rsswidget {
  color: #ffffff;
}
a.rsswidget:hover {
  color: #ffffff;
}
.sidebar-area .widget-title {
  font-family: 'Merriweather Sans', sans-serif;
  background-image: url('../img/title-bg.png');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 100%;
  height: 60px;
  margin-top: 0;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 26px;
  margin-bottom: 15px;
  color: #ffffff;
  padding-left: 25px;
  padding-top: 17px;
  text-transform: none;
}
.sidebar-area .widget-title:first-child {
  margin-top: 0;
}
.sidebar-area .widget-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}
.sidebar-area .widget-list li {
  padding-left: 5px;
  font-size: 12px;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  padding-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-top: 10px;
}
.sidebar-area .widget-list li:after {
  display: none;
}
.sidebar-area .widget-list li a {
  padding-left: 0;
  display: inline-block;
  padding-bottom: 2px;
  padding-top: 2px;
  color: #555;
}
.sidebar-area .widget-list li a:hover {
  color: #f8be27;
}
.sidebar-area .widget-list > li:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #ddd;
  margin-top: 6px;
  margin-bottom: 4px;
}
.sidebar-area .widget {
  background: #fff;
  -webkit-box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  position: relative;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 20px;
  padding-top: 15px;
  margin-bottom: 20px;
}
.sidebar-area .widget select {
  width: 100%;
  height: 40px;
}
.sidebar-area .widget a {
  word-break: break-word;
}
.sidebar-area .widget p {
  font-size: 13px;
}
.sidebar-area .widget .btn {
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  padding-left: 10px;
  padding-right: 10px !important;
}
.sidebar-area .widget h3 {
  font-family: 'Merriweather Sans', sans-serif;
  background-image: url('../img/title-bg.png');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 100%;
  height: 60px;
  margin-top: 0;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 26px;
  margin-bottom: 15px;
  color: #ffffff;
  padding-left: 25px;
  padding-top: 17px;
  text-transform: none;
}
.sidebar-area .widget h3:first-child {
  margin-top: 0;
}
.sidebar-area .widget > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}
.sidebar-area .widget > ul li {
  padding-left: 5px;
  font-size: 12px;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  padding-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-top: 10px;
}
.sidebar-area .widget > ul li:after {
  display: none;
}
.sidebar-area .widget > ul li a {
  padding-left: 0;
  display: inline-block;
  padding-bottom: 2px;
  padding-top: 2px;
  color: #555;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar-area .widget > ul li a:hover {
  text-decoration: none;
}

.sidebar-area .widget > ul li a:hover {
  color: #f8be27;
}
.sidebar-area .widget > ul > li:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #ddd;
  margin-top: 6px;
  margin-bottom: 4px;
}
.sidebar-area .widget .menu-all-pages-container > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}
.sidebar-area .widget .menu-all-pages-container > ul li {
  padding-left: 5px;
  font-size: 12px;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  padding-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-top: 10px;
}
.sidebar-area .widget .menu-all-pages-container > ul li:after {
  display: none;
}
.sidebar-area .widget .menu-all-pages-container > ul li a {
  padding-left: 0;
  display: inline-block;
  padding-bottom: 2px;
  padding-top: 2px;
  color: #555;
}
.sidebar-area .widget .menu-all-pages-container > ul li a:hover {
  color: #f8be27;
}
.sidebar-area .widget .menu-all-pages-container > ul > li:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #ddd;
  margin-top: 6px;
  margin-bottom: 4px;
}
.sidebar-area .widget_search form {
  position: relative;
}
.sidebar-area .widget_search #s {
  background: #555;
  border: 1px solid !important;
  border-color: #ccc !important;
  width: 100%;
  display: block;
  font-size: 11px;
  color: #fff;
  font-style: italic;
  left: 0;
  top: 0;
  padding: 10px;
}
.sidebar-area .widget_search input#searchsubmit {
  background: url('../img/aside-search.png') center center no-repeat;
  width: 20px;
  height: 100%;
  border: none;
  text-indent: -9999px;
  position: absolute;
  float: left;
  cursor: pointer;
  right: 6px;
  top: 1px;
}
.sidebar-area .widget_search label.screen-reader-text {
  display: none;
}
.search-form {
  position: relative;
}
.search-form label {
  display: block;
  width: 100%;
  position: relative;
}
.search-form .search-submit {
  background: url(../img/ico-search.png) no-repeat center center transparent !important;
  border: 0!important;
  width: 40px!important;
  height: 40px!important;
  overflow: hidden!important;
  text-indent: -9999px !important;
  box-shadow: 0 0 0!important;
  -moz-box-shadow: 0 0 0!important;
  -webkit-box-shadow: 0 0 0!important;
}

.search-form .search-submit {
  position: absolute;
  right: 10px;
  top: 0;
}

.search-form .search-field {
  width: 100%!important;
  max-width: 100%!important;
  height: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding-left: 20px;
}
.widget_calendar caption {
  padding-bottom: 5px;
  border-bottom: 1px solid #555;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
}
.widget_calendar td {
  padding-top: 3px;
  padding-bottom: 3px;
}
.widget_calendar td a {
  color: #f8be27 !important;
}
.widget_calendar tfoot {
  padding-top: 10px;
}
.sidebar-area img {
  max-width: 100%;
}
.sidebar-area .instagram-pics {
  margin-bottom: 10px!important;
}
.sidebar-area .instagram-pics:after {
  content: '';
  display: block;
  clear: both;
}
.sidebar-area .instagram-pics li {
  float: left;
  width: 33.33% !important;
  background: none!important;
  display: block;
  padding: 2px!important;
  margin: 0!important;
  border: 0;
}
.sidebar-area .instagram-pics li:after {
  display: none!important;
}
.sidebar-area .instagram-pics li a {
  display: block;
  padding: 0 !important;
}
.sidebar-area .instagram-pics li img {
  width: 100%;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.null-instagram-feed p {
  text-align: center;
}
.mc4wp-form p {
  margin-bottom: 5px;
  position: relative;
}
.mc4wp-form label {
  display: block;
  font-style: italic;
  border-left: 2px solid #ccc;
  padding-left: 8px;
  margin-bottom: 6px;
}
.mc4wp-form input[type=text],
.mc4wp-form input[type=email] {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 8px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  outline: none;
  -webkit-outline: none;
}
.mc4wp-form input[type=submit] {
  font-size: 12px;
  background: #f72565;
  box-shadow: 0!important;
  border: 0;
  text-shadow: 0;
  color: #ffffff;
  font-weight: normal;
  text-transform: uppercase;
  padding: 12px 20px!important;
  height: 40px;
  border-radius: 0 12px 12px 0;
  -moz-border-radius: 0 12px 12px 0;
  -webkit-border-radius: 0 12px 12px 0;
  position: absolute;
  right: 0;
  top: -45px;
}
/* ==========================================================
! 09. Posts
========================================================== */
.post-element {
  background: #fff;
  -webkit-box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 25px;
  position: relative;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding-top: 30px;
}
.post-element a {
  word-break: break-word;
}
@media (min-width: 768px) {
  .post-element {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.post-element h2,
.post-element h3,
.post-element h4 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.post-element h2:first-child,
.post-element h3:first-child,
.post-element h4:first-child {
  margin-top: 0 !important;
}
.post-element-aside,
.post-element-link {
  border: 2px solid #ffcf38;
  padding-top: 25px;
}
.post-element-aside p,
.post-element-link p {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 10px;
  margin-top: 0;
}
.post-element-link {
  display: block;
  background: #ffcf38;
  color: #ffffff !important;
  font-size: 14px;
  background-image: url('../img/ico-link-bg.png');
  background-position: -20px center;
  background-repeat: no-repeat;
}
.post-element-link:hover {
  text-decoration: none;
  padding-left: 60px;
}
.post-element-link p {
  font-size: 14px;
  margin-bottom: 0;
}
.post-link-title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 5px!important;
}
.post-element-quote {
  background-image: url('../img/quote-bg1.png');
  background-position: -10px -10px;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 30px;
}
.post-element-quote:after {
  display: block;
  content: '';
  background-image: url('../img/quote-bg2.png');
  background-position: 10px 20px;
  background-repeat: no-repeat;
  width: 127px;
  height: 96px;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .post-element-quote {
    padding-left: 80px;
    padding-right: 80px;
  }
}
.post-element-quote p {
  font-size: 18px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 5px;
}
.post-element-quote .quote-author {
  font-weight: bold;
  font-size: 12px;
}
.post-element-quote blockquote {
  padding-left: 0;
  border-left: 0;
}
.post-element-video iframe {
  width: 100% !important;
}
.gallery-item {
  margin: 0;
}
.slideshow-window {
  background-color: #222;
  border: 0!important;
  border-radius: 0!important;
  height: 0;
  margin-bottom: 20px;
  overflow: hidden;
  padding-top: 30px !important;
  padding-bottom: 56.25% !important;
  position: relative;
  z-index: 1;
}
.gallery-featured-carousel {
  background: #eeeeee;
}
.gallery-featured-carousel .owl-item {
  height: 100%;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.gallery-featured-carousel .owl-item img {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.gallery-featured-carousel .owl-next {
  opacity: 0.8!important;
}
.gallery-featured-carousel .owl-prev {
  opacity: 0.8!important;
}
.gallery-featured-carousel .owl-dots {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding-top: 5px;
}
.gallery-featured-carousel img:hover {
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  transform: scale(1) !important;
}
.lightbox-image {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.entry-title {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 32px;
  line-height: 1.3;
  display: block;
  font-weight: bold;
  color: #4d4d4f;
  letter-spacing: -1px;
  position: relative;
  z-index: 99;
  margin-top: 0!important;
  padding-bottom: 0;
}
.entry-title:first-child {
  margin-top: 0;
}
.entry-title a:hover {
  text-decoration: none;
}
.entry-title a {
  color: #4d4d4f;
}
.entry-content .btn-special {
  margin-top: 20px;
}
.entry-footer {
  background: #eee;
  padding: 20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 30px;
  position: relative;
  top: 20px;
}
@media (min-width: 768px) {
  .entry-footer {
    margin-left: -50px;
    margin-right: -50px;
  }
}
.entry-footer .cat-links {
  display: inline-block;
  padding-right: 10px;
}
.entry-footer .cat-links a {
  display: inline-block;
  background: transparent;
  color: #f8be27;
  text-transform: uppercase;
  border: 1px dashed;
  border-color: #f8be27;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 4px 12px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-bottom: 3px;
  font-style: italic;
}
.entry-footer .cat-links a:hover {
  background-color: #f8be27;
  color: #ffffff;
  text-decoration: none;
}
.entry-footer .tags-links {
  display: inline-block;
  padding-right: 8px;
}
.entry-footer .tags-links a {
  display: inline-block;
  background: transparent;
  border-left: 0px solid;
  border-color: #ccc;
  font-size: 11px;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 4px 4px;
  margin-right: 2px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 3px;
  font-style: italic;
}
.entry-footer .tags-links a:hover {
  text-decoration: none;
}
.entry-footer .comments-link {
  display: block;
  float: right;
  text-transform: uppercase;
}
.entry-footer .comments-link a {
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f8be27;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.entry-footer .comments-link a:hover {
  text-decoration: none;
  background-color: #f8be27;
}
.post-featured-image {
  margin-left: -20px;
  margin-top: -30px;
  margin-right: -20px;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .post-featured-image {
    margin-top: -50px;
    margin-left: -50px;
    margin-right: -50px;
  }
}
.post-featured-image a {
  display: block;
  overflow: hidden;
}
.post-featured-image img {
  width: 100%!important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 0 6px 0 0;
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
}
.entry-header-post {
  padding-top: 30px;
}
.entry-meta {
  position: absolute;
  top: 0;
  left: 0px;
  background-color: #f8be27;
  color: #ffffff;
  z-index: 555;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 11px;
  border-radius: 0 0 6px 0;
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
}
.entry-meta a {
  color: #ffffff;
  font-weight: bold;
}
.post-has-ct {
  height: 20px;
}
/* ==========================================================
! 10. Pagination
========================================================== */
.navigation a {
  display: inline-block;
  padding: 8px;
  background: transparent;
  color: #f8be27;
  font-size: 11px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-style: italic;
  border-bottom: 2px solid #f8be27;
}
.navigation a:hover {
  border-bottom: 2px solid #f72565;
  color: #f72565;
}
.navigation .nav-previous a:before {
  content: '« ';
}
.navigation .nav-next a:after {
  content: ' »';
}
/* ==========================================================
! 11. Comments
========================================================== */
.comments-area {
  padding-bottom: 20px;
  display: block;
}
.comments-area .comment-form {
  display: block;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
.comments-area .comments-title {
  font-weight: bold;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 20px;
}
.comments-area .comment-reply-title {
  font-weight: bold;
  margin-top: 0;
  font-size: 24px;
}
.comments-area input[type=submit] {
  margin-bottom: 8px;
  border: 0;
  background-color: #f72565;
  color: #ffffff;
  padding: 15px 30px;
  background: #f72565;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  padding-left: 25px;
  padding-right: 25px;
  height: 44px;
  padding-top: 10px;
  color: #ffffff !important;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  font-size: 13px;
  box-shadow: 0!important;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.comments-area input[type=submit]:hover {
  color: #ffffff;
}
.comments-area .comment-form-author,
.comments-area .comment-form-email {
  width: 49%;
  display: inline-block;
  padding-right: 5px;
}
.comments-area input[type=text],
.comments-area input[type=email],
.comments-area input[type=url] {
  height: 40px;
  padding-top: 2px;
  padding-left: 10px;
  width: 100%;
  display: block;
  border: 1px solid;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: #ffcf38;
  background: transparent;
  color: #111;
  font-style: italic;
  font-size: 12px;
  font-family: 'Merriweather Sans', sans-serif;
}
.comments-area label {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  opacity: 0.8;
  display: block;
}
.comments-area textarea {
  border: 1px solid;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: #ffcf38;
  padding: 12px;
  width: 100% !important;
  color: #111;
  font-style: italic;
  font-size: 12px;
  font-family: 'Merriweather Sans', sans-serif;
}
ol.comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol.comment-list > li {
  padding: 30px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  margin-bottom: 15px;
  background: #f8f8f8;
}
ol.comment-list ol.children {
  list-style: none;
  margin-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
ol.comment-list ol.children > li {
  background: #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-bottom: 10px;
}
ol.comment-list ol.children > li > ol.children li {
  border-left: 2px solid #ddd;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.comment-author {
  padding-top: 5px;
  font-family: 'Merriweather Sans', sans-serif;
}
.comment-author .fn {
  font-size: 18px;
}
.comment-author .fn a {
  color: #555555;
}
.comment-author .says {
  opacity: 0.8;
  font-style: italic;
}
.comment-author img.avatar {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  float: left;
  margin-right: 20px;
  margin-top: -5px;
}
.comment-metadata {
  font-size: 11px;
  font-style: italic;
}
.comment-metadata a {
  color: #555;
}
.comment-meta {
  min-height: 64px;
  margin-bottom: 20px;
}
.comment-reply-link {
  display: inline-block;
  color: #f72565;
  font-weight: bold;
  margin-bottom: 20px;
}
.comment-content {
  font-size: 12px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.comment-content p {
  font-size: 12px;
}
.comment-body .reply a {
  font-weight: normal;
  font-size: 12px;
  text-decoration: underline;
  font-style: italic;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pingback {
  font-style: italic;
  font-weight: bold;
  font-size: 13px;
}
/* ==========================================================
! 12. Slideshow
========================================================== */
/* ==========================================================
! 13. Hero image
========================================================== */
.hero-image {
  margin-bottom: 10px;
}
.hero-image img {
  width: 100%;
}
/* ==========================================================
! 14. Contact Form 7
========================================================== */
.wpcf7-form {
  margin-top: 20px;
}
.wpcf7-form p {
  font-weight: bold;
  font-size: 13px;
}
.wpcf7-form input[type=text],
.wpcf7-form input[type=email] {
  border: 1px solid;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: #ffcf38;
  width: 100%;
  margin-top: 5px;
  height: 40px;
  padding-left: 10px;
}
.wpcf7-form input[type=text]:hover,
.wpcf7-form input[type=email]:hover,
.wpcf7-form input[type=text]:focus,
.wpcf7-form input[type=email]:focus {
  outline: none!important;
}
.wpcf7-form textarea {
  border: 1px solid;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: #ffcf38;
  width: 100%!important;
  margin-top: 5px;
  height: 120px;
  padding: 10px;
}
.wpcf7-form textarea:hover,
.wpcf7-form textarea:focus {
  outline: none!important;
}
.wpcf7-form input[type=submit] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 8px;
  border: 0;
  background-color: #f72565;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 14px;
  text-transform: uppercase;
  -moz-box-shadow: inset 0 0 0px #000000;
  -webkit-box-shadow: inset 0 0 0px #000000;
  box-shadow: inset 0 0 0px #000000;
}
/* ==========================================================
! 15. Others
========================================================== */
.video-player {
  margin-bottom: 20px;
  max-width: 100%;
}
